<div class="container mt-5 mb-3 d-block p-3 table-responsive border rounded-2" style="width: 90%;margin: auto;">
   
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Cast & Crew</th>
                <th scope="col">Rating</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="tableBody" class="table-group-divider">

                <tr ng-repeat='movie in movies[0]'>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ movie.movie_name }}</td>
                    <td>{{ movie.categories }}</td>
                    <td>{{ movie.cast_crew }}</td>
                    <td>{{ movie.rating }}</td>
                    <td><a class="btn btn-dark editBtn" ng-click="fillDataInForm(movie)"><span
                                class="material-symbols-outlined">edit_square</span></a></td>
                    <td><button class="btn btn-dark deleteBtn" data-id = {{ $movie.id }}><span
                                class="material-symbols-outlined">delete</span></button></td>
                </tr>

        </tbody>
    </table>
</div>