<form class="container border rounded-2 my-3 p-3" style="width: 90%;" id="myForm" ng-submit="formSubmit()">

    <!-- @isset($data) {{ method_field('PUT') }} @endisset
    {{ csrf_field() }} -->

    <div class="mb-3">
        <label for="movieNameInput" class="input-label p-2">Movie Name</label>
        <input type="text" class="form-control" id="movieNameInput" name="movieName" ng-model="movieName" value=""
            required>
    </div>

    <div class="mb-3">
        <div class="d-flex">
            <div class="input-lable p-2 w-50" id="basic-addon1">Category</div>

            <div class=" w-50 d-flex justify-content-end">
                <a href="#!category" id="addCategory" class="btn ">
                    <span class="material-symbols-outlined">add_circle</span>
                </a>
            </div>
        </div>

        <div class="row p-2 mx-0 border rounded" id="categoryInput" required>

            <div class="form-check col-sm-6 col-md-2" ng-repeat="category in categories[0]">
                <input class="form-check-input checkInput" type="checkbox" name="category[]"
                    ng-model="category.selected" value={{category.category}} id={{category.id}} ng-cheked>

                <label class="form-check-label" for={{category.id}}>{{ category.category }}</label>
            </div>

        </div>
    </div>

    <div class="mb-3">

        <div class="d-flex">
            <label for="castAndCrewInput" class="input-lable p-2 w-50">Cast & Crew</label>

            <div class="w-50 d-flex justify-content-end">
                <a href="#!cast" id="addRating" class="btn">
                    <span class="material-symbols-outlined">add_circle</span></a>
            </div>
        </div>

        <select class="form-select" style="width: 100%;" name="castAndCrew[]" id="castAndCrewInput"
            ng-model="selectedCast" multiple="multiple" required>

            <option value={{cast.cast_name}} ng-repeat="cast in casts[0]">
                {{ cast.cast_name }}
            </option>

        </select>
    </div>

    <div class="mb-3">
        <div for="ratingInput" class="input-label p-2">Rating</div>
        <select class="form-select" style="width: 100%;" name="rating" id="ratingInput" ng-model="selectedRating"
            required>
            <option value=""></option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
        </select>
    </div>

    <div class="mb-3 text-center">
        <button id="submit" name="submit" type="submit" class="btn btn-dark mx-2">Save</button>
        <button id="reset" name="reset" type="button" ng-click="reset()" class="btn btn-dark mx-2">Reset</button>
    </div>


</form>
<script>
    
    jQuery(document).ready(function ($) {

        function hideSelected(value) {
            if (value && !value.selected) {
                return $('<span>' + value.text + '</span>');
            }
        }

        $('#castAndCrewInput').select2({
            placeholder: "Select a cast",
            width: 'resolve',
            templateResult: hideSelected
        });

        $('#ratingInput').select2({
            placeholder: "Select a rating",
        });

        // $('#reset').click(function (event) {
        //     event.preventDefault();
        //     $("#movieNameInput").val(null);
        //     $('.checkInput').prop("checked", false)
        //     $('#castAndCrewInput').val(null).trigger('change');
        //     $('#ratingInput').val(null).trigger('change');
        // })
    })
</script>