<div class="container-md p-3">
    <div class="row justify-content-evenly">
        <div class="col-md-4 my-3 border rounded p-2">
            <div class="d-flex flex-column p-2">
                <h4 class="p-2 " id="basic-addon1">Filters</h4>


                <div class="mb-2 border-bottom" id="radioForSort" ng-init="sortOrder='asc'">
                    <h6 class="p-2 " id="basic-addon1">Sorting</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortingOrder" id="ascending" value="asc" ng-model="sortOrder">
                        <label class="form-check-label" for="ascending">
                            A-Z
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortingOrder" id="descending" ng-model="sortOrder"
                            value="desc">
                        <label class="form-check-label" for="descending">
                            Z-A
                        </label>
                    </div>
                </div>


                <div class="mb-2 border-bottom pb-3">
                    <h6 class="p-2 " id="basic-addon1">Category</h6>
                    <select class="form-select cast-crew-select" name="castAndCrew[]" id="selectCategories" style="width: 100%;" ng-model="selectedCategories" multiple="multiple" required>
                            <option value={{category.category}} ng-repeat="category in categoriesList">
                                {{category.category}}
                            </option>
                    </select>
                </div>


                <div class="mb-2 border-bottom">
                    <h6 class="p-2 " id="basic-addon1">Rating</h6>
                    <div class="form-check" ng-repeat="rating in ratingList">
                        <input class="form-check-input checkInput" type="checkbox" name="rating[]" value={{rating.val}}
                            id="rating{{rating.val}}" ng-model="rating.selected">
                        <label class="form-check-label" for="rating{{rating.val}}">{{ rating.val }}</label>
                    </div>
                </div>

                <button class="btn btn-dark" id="submit">Submit</button>
            </div>


        </div>
        <div class="col-md-7 my-3  table-responsive border rounded-2 p-2">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Cast & Crew</th>
                        <th scope="col">Rating</th>
                    </tr>
                </thead>
                <tbody id="tableBody" class="table-group-divider">
                        <tr ng-repeat="movie in movieList">
                            <td>{{ movie.movie_name }}</td>
                            <td>{{ movie.categories }}</td>
                            <td>{{ movie.cast_crew }}</td>
                            <td>{{ movie.rating }}</td>
                        </tr>
                </tbody>
        </div>
    </div>
</div>

<script>

    jQuery(document).ready(function ($) {

        function hideSelected(value) {
            if (value && !value.selected) {
                return $('<span>' + value.text + '</span>');
            }
        }

        $('#selectCategories').select2({
            placeholder: "Select a cast",
            width: 'resolve',
            templateResult: hideSelected
        });

    })
</script>