<div class="container">
    <div class="row justify-content-center" style="margin: 10px;">
        <div class="col-sm-10 col-md-6 border rounded-2 my-3 p-3">
            <h2 class="text-bg-dark border rounded-2 text-center p-1 mb-3">Register</h2>

            <form class="form-horizontal" ng-submit="register()">
                <!-- {{ csrf_field() }} -->

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>

                    <input type="text" class="form-control" ng-class="{'is-invalid' : error.name}" ng-model="name" id="name" 
                        name="name" aria-describedby="nameHelp" value="" required autofocus>

                    <span class="invalid-feedback" id="nameHelp" ng-show="error.name">
                        <strong>{{ error.name }}</strong>
                    </span>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" ng-class="{'is-invalid' : error.email}" ng-model="email" id="email"
                        aria-describedby="emailHelp" name="email" value="{{ old('email') }}" required>

                    <span class="invalid-feedback" id="emailHelp" ng-show="error.email">
                        <strong>{{ error.email }}</strong>
                    </span>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" ng-class="{'is-invalid' : error.password}" ng-model="password" id="password" name="password" required>
                    <span class="invalid-feedback" ng-show="error.password">
                        <strong>{{ error.password }}</strong>
                    </span>
                </div>

                <div class="mb-3">
                    <label for="password-confirm" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" ng-model="password_confirmation"
                        id="password-confirm" name="password_confirmation" required>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">
                        Register
                    </button>
                </div>

                <div>
                    
                </div>
            </form>
        </div>
    </div>
</div>